doctype html
html(lang="en")
  head
    title Consulta de Acordãos
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/fontawesome/css/all.min.css")
    script(type="text/javascript" src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript" src="/jquery/js/jquery.min.js")
  body.d-flex.flex-column.min-vh-100
    block content