extends layout

block content
    script. 
        var url = '#{url}';
    div(style="display:block; content:''; height: 60px;")#topo
    // Modal
    #docModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#exampleModalLabel.modal-title.fs-5 Insira Documento
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                form(action='/files' method="POST" enctype="multipart/form-data")
                    .modal-body
                        input(type="file" name="myFile")
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Fechar
                        button.btn.btn-primary(value='send' type='submit') Submeter Documento
    // Navbar
    include navbar.pug
    +includeNavBar(user)

    .container.py-5.my-5
      form#form(method='POST' action='/users/redefinePassword') 
        .input-group.input-group-sm.py-5.px-5
          .col.mx-3 
            .row.my-5
              span.input-group-text Email
              input.form-control(type="text" name="email" id="Email")

            .row.my-5
              span.input-group-text Nova Password
              input.form-control(type="password" name="pass" id="passwordInput")
    
            .row.my-5
              span.input-group-text Insira novamente a Password 
              input.form-control(type="password" name="confirmPass" id="confirmPasswordInput")

            button.my-5.btn.btn-primary(type="submit") CONFIRMAR NOVA PASSWORD

    
    #errorModal.modal.fade
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h5.modal-title Erro
            .modal-body
              p#errorMessage
            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal" id="closeButton") Fechar


    script.
        document.getElementById('form').addEventListener('submit', function(event) {
          event.preventDefault();
          const passwordInput = document.getElementById('passwordInput');
          const confirmPasswordInput = document.getElementById('confirmPasswordInput');
          const errorMessage = document.getElementById('errorMessage');
          const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
          const closeButton = document.getElementById('closeButton');
        
          if (passwordInput.value !== confirmPasswordInput.value) {
            errorMessage.innerText = 'As palavras-passes não coincidem.';
            errorModal.show(); // Exibe o modal de erro
          } else {
            // Caso as senhas coincidam, você pode prosseguir com o envio do formulário
            document.getElementById('form').submit(); // Envia o formulário
          }
        
          closeButton.addEventListener('click', function() {
            errorModal.hide(); // Fecha o modal de erro
          });
        });


    // Footer
    footer.p-3.bg-light.text-center.mt-auto.position-relative.shadow
        .container 
            p.lead Copyright &copy; 2023 EngWeb, Acordãos
            a.position-absolute.bottom-0.end-0.p-3(href="#")
                i.fa-solid.fa-circle-arrow-up.h3(style="color: grey;")  