extends layout

block content
    script. 
        var url = '#{url}';
    div(style="display:block; content:''; height: 60px;")#topo
    // Modal
    #docModal.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#exampleModalLabel.modal-title.fs-5 Insira Documento
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                form(action='/files' method="POST" enctype="multipart/form-data")
                    .modal-body
                        input(type="file" name="myFile")
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Fechar
                        button.btn.btn-primary(value='send' type='submit') Submeter Documento
    // Navbar
    include navbar.pug
    +includeNavBar(user)

    .container.py-5.my-5
        h2.py-5.px-4 Esqueceste-te da palavra-passe?
        h5.px-4 Por favor, insere o teu email abaixo para receberes um link de reposição de palavra-passe.
        form#form(method='POST' action='/users/resetPassword')   
            .input-group.input-group-sm.py-3.px-4
              span.input-group-text Email
              input.form-control(type="text" name="email")
            button.my-5.mx-4.btn.btn-primary#submit(type="submit") REPOR PALAVRA PASSE

    // Footer
    footer.p-3.bg-light.text-center.mt-auto.position-relative.shadow
        .container 
            p.lead Copyright &copy; 2023 EngWeb, Acordãos
            a.position-absolute.bottom-0.end-0.p-3(href="#")
                i.fa-solid.fa-circle-arrow-up.h3(style="color: grey;")  